/* Define your CSS styles here */
.kcontainer{
  width:800px; height: 320px;
  background-color: #111;
  margin: 0px auto;
  border-radius: 9px;
  padding: 30px;
  color: #eee;
}
.flex-container{
  display: flex;
  justify-content: center;
  align-items:center;
}

.key{
  width: 7vw; height:7vw;
  display:block;
  background-color:#333;
  color:white;
  text-align: left;
  padding-left: 8px;
  line-height: 29px;
  border-radius:2px;
  float:left; margin-left: 2px;
  margin-bottom:2px;
  cursor: pointer;
}
.key:active{
  background-color:#700;
}
.character{width:30vw;}
.backspace{width:60vw;}
.tab{width:70vw;}
.enter{
  background-color:#705;
  width:80vw;}
.shift{
  background-color:#705;
  width:80vw;}
.accept{
  background-color:#705;
  text-align:center;
  width:90vw}
.space{width:300vw;}
.cancel{
  background-color:#705;
  text-align:center;
  width:90vw}
/* Remember to validate your CSS at https://jigsaw.w3.org/css-validator/ */
